/*
Copyright (c) 2017 Uber Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.SearchForm--labelCount {
  color: #999;
}
.hour:after{
  display: none;
}
.hour span:after{
  display: none;
}

.SearchForm--hintTrigger {
  border: 1px solid #999;
  border-radius: 100px;
  color: #999;
  cursor: pointer;
  padding: 1px;
}

.SearchForm--hintTrigger:hover {
  color: #009ce3;
  border-color: #009ce3;
}
.ant-btn:hover, .ant-btn:focus{
  color: #009ce3;
  background-color: #f2fafe;
  border-color: #009ce3;
}

.SearchForm--tagsHintTitle {
  margin-top: 0.5em;
}

.SearchForm--tagsHintInfo {
  padding-left: 1.7em;
}

.SearchForm--tagsHintEg {
  color: #009ce3;
}
.search-form .ant-form{
  padding: 12px;
}
.search-form .ant-row-fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-form .ant-row-buttons{
  display: flex;
  justify-content: flex-end;
  padding: 8px 22px;
}
.search-form .ant-row-buttons button{
  margin-left: 8px;
}
.search-form .ant-form-item{
  width: 33.3%;
  padding: 8px 22px 8px 0;
  margin: 0;
}
.search-form .ant-form-item-label{
  line-height: 32px;
  width: 100px;
}
.search-form .ant-form-item-label label{
  justify-content: flex-end;
}
.search-form .ant-form-item-control{
  line-height: 32px;
}
.search-form .ant-form-item-children{
  display: flex;
  align-items: center;
}
.search-form .ant-form-item-children .ant-calendar-picker{
  flex: 1;
}
.search-form .SearchForm--hintTrigger{
  position: absolute;
  right: -22px;
}

.selected-conditions{
  border-radius: 2px;
  border: 1px solid #009ce3;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(44, 61, 71, .3);
  padding: 4px 8px 4px 16px;
  position: fixed;
  top: 8px;
  left: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
}
.selected-conditions-title{
  margin: 8px 0;
}
.selected-condition-item{
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 8px 8px 8px 0;
}
.selected-conditions-title span:after,
.selected-condition-item span:after{
  content: ':';
  margin: 0 8px 0 2px;
}